.ProjContent {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.6rem;
    margin: 0 16rem;
    padding: 2rem;
}

.ListaItens {
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    box-sizing: border-box;
    transition: 400ms all;
}

.ListaItens:hover {
    transform: scale(1.05);
}

.ListaItens img {
    width: 420px;
    height: 260px;
    border-radius: 12px;
    box-shadow: 6px 6px 6px var(--sombras);
}

.ConteudoProjeto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ConteudoProjeto p {
    font-size: .9rem;
}