@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@400;700&display=swap');

:root {
    --bg-navBar: #22222C;
    --font-color: #fff;
    --sombras: #201f1f;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Mega', sans-serif;
}

.Content {
    min-height: 100vh;
    background-color: #383838;
}