.CvContent {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin: 0 16rem;
    padding: 2rem;
}

.Dados {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ListaDados {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.ListaDados li {
    line-height: 22px;
}

.EmailUser {
    color: #2C9EC5;
}

.Formacoes p {
    padding-bottom: 12px;
}

.Formacoes a {
    display: inline-flex;
    flex-direction: column;
    color: #2C9EC5;
    margin: 4px 0;
    box-sizing: border-box;
}

.Formacoes a:hover {
    text-decoration: underline;
}